
.home .home-list_page .box.box1{
	background-image: url(//localhost/wordpress/wp-content/themes/wordpress/img/css/list_product1.jpg?1000);
}
.home .home-list_page .box.box2{
background-image: url(//localhost/wordpress/wp-content/themes/wordpress/img/css/list_product2.jpg?1000);
}
.home .home-list_page .box.box3{
background-image: url(//localhost/wordpress/wp-content/themes/wordpress/img/css/list_product3.jpg?1000);
}


/*Template color: tp_color*/
	.features div .text-feat b {
		color: #ae322f;
	}
	.header-desc .text-shipping {
		color: #ae322f;
	}
	.header-desc .cart a {
		background-color: #ae322f;
	}
/*Discount color: tp_discount*/
	.product-item .wrap-img .discount {
	background-color: #ae322f!important;
	}
/*Buttons Colors: tp_buttons_colors*/
	.home .home-slider .info .ft .btn.shop_now {
	background: #ae322f;

	}
/*Prices color: tp_color_price_product*/
	.product-item .price .sale {
		color: #ae322f!important;
	}
		.single-product .product-price .salePrice .value {
		color: #ae322f;
	}
	.single-product .product-price .youSave .save {
		color: #ae322f;
	}
/*Features images color: tp_color_features*/
/*Features titles color:tp_color_head_features*/
	.features div .text-feat {
		color: #222;
	}

/*Home article*/
.wrap-page-article {
background: url(//localhost/wordpress/wp-content/themes/wordpress/img/css/article_bg.jpg?1000) center top/cover no-repeat;
}

/*header*/
.header-desc .text-secure {
background: url(//localhost/wordpress/wp-content/themes/wordpress/img/trustf/sslupf.svg?1000) center center/cover no-repeat;
}

/*about*/
.page-about .wrap-b1 p,
.page-about .wrap-b1 .head {
    color: #fff;
}

/****/
.cart2 .btn.btn_orange,
.single-product .modal-addCart .modal-footer .btn,
.single-product .product-main .product-actions .btn.addCart {
    background-color: #FF8D38;
}

.single-product .product-main .product-actions .btn.addCart:hover {
    border: 1px solid #FF6E01;
    background-color: #FF6E01;
}

.single-product .modal-addCart .modal-footer .btn:hover {
    border: 1px solid #FF6E01;
    color: #FF6E01;
}

.cart2 .btn.btn_orange:hover{
    background-color: #FF6E01;
}

.page-article{
color: #fff;
}