html, body.toplevel_page_customization{
  background: #FFFFFF !important
}

#adminmenuback{
  z-index: 0 !important
}

*:focus{
  outline: none !important
}

.blue-bg, .blue-bg:hover, .blue-bg:focus, .blue-bg:active{
  background: none;
  text-decoration: none
}

.blue-bg{
  color: #0074A2;
  font-weight: 600;
  border: 1px solid #0074A2
}

.blue-bg:hover, .blue-bg:focus, .blue-bg:active{
  color: #019CD9;
  border-color: #019CD9
}

.color-blue{
  color: #019CD9
}

.color-white{
  color: #FFFFFF
}

.plate-orange-bg{
  background: #FFA253 !important
}

.plate-red-bg{
  background: #FF4D53 !important
}

.plate-blue-bg{
  background: #27C7C7 !important
}

.white-bg{
  background: #FFFFFF
}



.full-width{
  margin: 0 -25px;
  padding: 15px 0
}
.cz-wrap{
  margin-left: -20px
}
#cz-admin-sidebar-back{
  width: 100%;
  height: 35px;
}
/* sidebar */
#cz-admin-sidebar-wrap{
  z-index: 1000;
  position: fixed;
  width: 237px;
  height: 100%;
  overflow: auto;
}

#cz-admin-sidebar-wrap a:focus{
  box-shadow: none;
  -webkit-box-shadow: none
}

#cz-admin-sidebar-wrap ul li a{
  display: block;
  margin: 0;
  line-height: 32px;
  padding: 0px 6px 0px 0px;
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border-left: 3px solid #FFFFFF;
}

#cz-admin-sidebar-wrap ul li{
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid #D7DADE;
}
/*#cz-admin-sidebar-wrap ul li:first-child,*/
#cz-admin-sidebar-wrap ul li.item-active + li,
#cz-admin-sidebar-wrap ul li.item-active{
  border-color: #fff;
}

#cz-admin-sidebar-wrap ul li:first-child.item-active{
  border-color: #EDEFF6;
}

#cz-admin-sidebar-wrap ul > li > a{
}

#cz-admin-sidebar-wrap ul > li > a.item-active{
  border-left: 5px solid #00A1DF;
  background: #EDEFF6;
}
#cz-admin-sidebar-wrap ul > li > a .fa{
  line-height: 34px;
  width: 45px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  margin-right: 10px;
  color: #4B4B4B;
}

#cz-admin-sidebar-wrap ul > li > a.item-active .fa{
  background: #363E4C;
  color: #fff;
}

#cz-admin-sidebar-wrap ul > li > ul{
  display: none;
  margin-left: 10px;
}

#cz-admin-sidebar-wrap ul > li.item-active > ul{
  display: block
}

#cz-admin-sidebar-wrap ul > li > ul > li > a{
  padding: 2px 8px;
  font-size: 13px;
  border: none
}

#cz-admin-sidebar-wrap ul > li > ul > li > a.item-active{
  background: none;
  border: none
}

#cz-admin-sidebar-wrap ul li:focus, #cz-admin-sidebar-wrap ul li a:focus{
  outline-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}

#cz-admin-sidebar-wrap .brand{
  padding: 10px 0
}

/* content */
.cz-page-content{
  margin-left: 237px;
  height: 100%;
  padding: 0  10% 0 0;
  background: #fff;
  max-width: 768px;
}

.cz-page-content h2{
  font-size: 31px;
  color: #555555;
  margin: 0;
}

.cz-page-content p.description{
  font-size: 10px;
  color: #555555;
  line-height: 10px;
  padding: 0;
  margin: 5px 0 5px 0;
}

.cz-content-inner{
  font-size: 14px;
  margin: 10px 0;
  padding: 0;
}

.cz-content-inner .count{
  font-size: 35px;
  font-weight: 300;
  margin: 9px 0;
  color: #FFFFFF
}

.cz-content-inner .block h2{
  padding-left: 15px;
  margin:10px 0;
  font-size: 28px
}



.cz-content-inner h3.the-big{
  margin: 0 0 12px;
  padding: 0;
  font-size: 21px;
  text-transform: none;
  opacity: 1
}

.cz-content-inner.help-inner p{
  margin-top: 0;
  padding-bottom: 8px;
  line-height: 18px
}

.cz-content-inner-type{
  background: #FFFFFF;
  font-size: 14px;
  margin: 20px 0
}

.cz-content-inner-type .row{
  margin-left: 0;
  margin-right: 0;
  display: table
}

.cz-content-inner-type [class*="col-"]{
  padding-left: 0;
  padding-right: 0;
  display: table-cell
}

.cz-content-inner-type .width-full{
  width: 100%
}

.cz-content-inner-type .height-full{
  height: 100%
}

.cz-content-inner-type .valign-top{
  vertical-align: top
}

.cz-content-inner-type .valign-middle{
  vertical-align: middle
}

.cz-content-inner-type .valign-bottom{
  vertical-align: bottom
}

.cz-content-inner-type .panel-info{
  background: #0FC0EC;
  padding: 15px 20px;
  color: #FFFFFF
}

.cz-content-inner-type .panel-info h3{
  margin: 0;
  font-weight: 300;
  font-size: 20px
}

.cz-content-inner-type .panel-info p{
  font-size: 13px;
  line-height: 21px
}

.cz-content-inner-type #loader-one{
  margin: 15px 0 0;
  text-align: center
}

.cz-content-inner-type h4{
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 20px 0 8px
}

.cz-content-inner-type p.submit{
  text-align: center
}

.cz-content-inner-type #loader-one > div{
  margin: 0 auto
}

.cz-content-inner-type .progress-circle{
  background: #222222;
  color: #FFFFFF
}

.cz-content-inner-type .stats{
  text-align: center
}

.cz-content-inner-type .stats span{
  display: block;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 8px
}

.cz-content-inner-type .stats .shelf{
  padding: 15px 0 20px
}

.cz-content-inner-type #listing .item{
  padding: 3px 0;
  border-top: 1px solid #C0C0C0
}

.cz-content-inner-type #listing .item:first-child{
  border: none
}

.cz-content-inner-type #listing .thumb img{
  margin: 0 auto;
  border: 1px solid #C0C0C0
}

.cz-content-inner-type #listing .title{
  padding: 3px 5px;
  font-size: 13px
}

.cz-content-inner-type #listing .stat{
  vertical-align: middle;
  color: #F58220;
  font-size: 16px
}

.cz-content-table{
  width: 100%;
  table-layout: fixed;
}

.cz-content-table td{
  /* background: #fff; */
}

/* list items */
.item-panel{
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC
}

.product-item{
  margin-top: 20px;
  background: #FFFFFF
}

.product-item .thumbnail{
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 15px 0 0;
  box-shadow: none;
  -webkit-box-shadow: none
}

.product-item .thumbnail{
  padding: 0
}

.product-item .item-info h3{
  margin: 0;
  padding: 5px 20px 0;
  font-size: 13px;
  line-height: 21px
}

.product-item .item-info p{
  margin: 0;
  padding: 10px 20px 15px;
  font-size: 13px;
  line-height: 21px
}

/* bulk form */
.item-group{
  padding: 8px 20px
}

.item-group label{
  font-weight: normal
}

.item-group .item-control{
  padding: 5px 4px
}

.item-group .item-control label{
  color: #2D2D2D
}

.item-group select, .item-group [type="text"]{
  padding: 5px 7px;
  height: 32px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  width: 100%
}

.item-group select.standart, .item-group [type="text"].standart{
  width: auto
}

span.separate{
  display: inline-block;
  width: 10px;
  border-color: #B7B7B7
}

.item-group select:focus, .item-group [type="text"]:focus{
  border-color: #F58220;
  box-shadow: none;
  -webkit-box-shadow: none
}

.control-group label{
  padding-top: 5px
}

.control-group label.no-top{
  padding-top: 0
}

.item-group .slider-range{
  margin-top: 20px
}

.item-group .slider-range a.ui-state-hover, .item-group .slider-range a.ui-state-focus{
  border-color: #DEDEDE;
  color: #0074A2
}

.item-group .slider-range a.ui-state-hover, .item-group .slider-range a.ui-state-focus{
  background: #95E1FF;
  background: -moz-linear-gradient(-45deg, #95E1FF 0%, #45CAFF 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #95E1FF), color-stop(100%, #45CAFF));
  background: -webkit-linear-gradient(-45deg, #95E1FF 0%, #45CAFF 100%);
  background: -o-linear-gradient(-45deg, #95E1FF 0%, #45CAFF 100%);
  background: -ms-linear-gradient(-45deg, #95E1FF 0%, #45CAFF 100%);
  background: linear-gradient(135deg, #95E1FF 0%, #45CAFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95e1ff', endColorstr='#45caff', GradientType=1);
}

.item-group .slider-range .ui-widget-header{
  background: #F58424
}

.item-group .slider-range a.ui-state-active{
  border-color: #DEDEDE
}

#request-data .load{
  display: table;
  width: 100%;
  height: 150px
}

#request-data .load span{
  vertical-align: middle;
  display: table-cell
}

.beforeTable .totalItems, .beforeTable #pagination-info{
  display: inline-block
}

.beforeTable .totalItems{
  float: right
}

.beforeTable #pagination-info{
  text-align: right
}

#request-content .beforeTable .count-total{
  padding: 0 20px;
  font-weight: 600
}

.beforeTable .count-total, .beforeTable .pagination{
  margin-top: 15px;
  margin-bottom: 15px
}

/* pagination */
#pagination-info .pagination > li > a, #pagination-info .pagination > li > span{
  color: #2D2D2D
}

#pagination-info .pagination > li > span.ellipse{
  padding: 6px
}

#pagination-info .pagination > li > span.current{
  padding: 6px 9px
}

#pagination-info .pagination > .active > a,
#pagination-info .pagination > .active > span,
#pagination-info .pagination > .active > a:hover,
#pagination-info .pagination > .active > span:hover,
#pagination-info .pagination > .active > a:focus,
#pagination-info .pagination > .active > span:focus{
  background: #F58220;
  border-color: #F58220
}

#pagination-info .pagination > li > a:hover{
  color: #2D2D2D
}

#pagination-info .pagination > li > span:hover, #pagination-info .pagination > li > a:focus, #pagination-info .pagination > li > span:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #FFFFFF
}

/* tablist */
.tablist{
  padding-top: 25px
}

.tablist .nav.nav-tabs{
  margin-bottom: -21px;
  border-bottom: none
}

.tablist .nav.nav-tabs a{
  text-decoration: none
}

.tablist .nav-tabs > li > a,
.tablist .nav-tabs > li.active > a,
.tablist .nav-tabs > li.active > a:hover,
.tablist .nav-tabs > li.active > a:focus,
.tablist .nav-tabs > li > a:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none
}

/* MODAL */
#Modal .modal-dialog{
  width: 800px;
  margin-top: 80px
}

#Modal .modal-header{
  border-bottom: none
}

#Modal label{
  display: block;
  width: 155px;
  float: left;
  font-weight: normal
}

#Modal .tab-pane .item{
  padding: 8px 0 15px
}

#Modal .tab-pane .thumb img{
  border: 4px solid #EEEEEE
}

#Modal .tab-pane .item span{
  display: block;
  margin-left: 165px
}

#Modal .tab-pane textarea{
  width: 100%;
  height: 140px;
  resize: vertical
}

/* Dashboard */
.dash-header{
  position: relative
}

/* filters */
#filters span{
  font-weight: 600
}

#filters a{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 21px;
  padding: 6px 12px;
  color: #5A5A5A;
  text-decoration: none;
  position: relative
}

#filters a span{
  position: absolute;
  top: 6px;
  right: 0
}

#filters a span.fa-sort-asc:before{
  display: inline-block;
  margin-top: 6px
}

#filters a:hover, #filters a.active, #filters a:focus{
  color: #F58424
}

#filters a:focus{
  -webkit-box-shadow: none;
  box-shadow: none
}

/* GLOBAL FIX */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Open Sans', sans-serif
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: inherit
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600
}

h3{
  font-weight: bold
}

label{
  width: auto;
  margin-bottom: 0;
  color: #5c6377;
  font-size: 14px;
  margin: 6px 0;
  display: block;
}

h4{
  font-size: 1em
}

.postbox .inside, .stuffbox .inside{
  font-size: 13px
}

body{
  color: #333333;
  font-size: 14px;
  line-height: 1.4em
}

p{
  line-height: 1em
}

ul.categorychecklist li{
  line-height: 22px
}

input[type=checkbox], input[type=radio]{
  margin-top: -4px;
  margin-right: 4px
}

#back-to-search{
  padding: 15px 30px 0
}

.wrap .cz-page-content *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.cz-page-head{
  padding: 10px;
  background: #EDEFF6;
}
.cz-content-inner.noborder{
  border: none
}

.iris-picker{
  position: absolute;
  z-index: 999;
}

.wrap .cz-page-content .wp-picker-container *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input.large-text, textarea.large-text{
  width: 100%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1.7px 2px rgba(9, 12, 18, 0.17);
  font-family: Arial;
  font-size: 13px;
  font-weight: 500;
  vertical-align: middle;
  padding: 8px 8px;
  color: #5c6377;
}
input.large-text{
  height: 37px;
}
.select-img{
  /* border: 1px solid #EEEEEE; */
  /* padding: 10px; */
}

.cz-content-inner table{
  table-layout: fixed;
  width: 100%;
}
.cz-content-inner .block{
  background: #DCE0E9;
  border-top: 4px solid #BFCAE1;
  margin-bottom: 20px;
}
.cz-screen-field{
  border: 1px solid #C7C7C7;
  margin: 5px 0 0 0;
}

.cz-screen-field img{
  width: 100%;
}

.cz-main-field{
  padding: 10px 15px;
}



.btn{
  border: 1px solid #fff;
  background: #fff;
  border-radius: 2px;
  padding: 6px 8px;
  height: 47px;
  min-width: 170px;
  font-size: 16px;
  margin-right: 3px;
}
.btn:last-child{
  margin-right: 0;
}
.btn-save{
  background: #00AF7C;
  border-color: #00AF7C;
  color: #fff;
}

.btn-save:hover{
  background: #00AF7C;
  border-color: #00AF7C;
  color: #fff;
}
.btn-default{
  border-color: #000;
}
.btn-default:hover{
  background: #fff;
  border-color: #000;
}


.btn-blue{
  width: 100px;
  min-width: 100px;
  height: 38px;
  background: #00A1DF;
  border-color: #00A1DF;
  color: #fff;
  margin: 0;
}
.btn-blue:focus,
.btn-blue:active,
.btn-blue:hover{
  color: #fff;
  background: #00A1DF;
}
.btn.btn-upload{
  width: 100px;
  min-width: 100px;
  height: 38px;
  background: #00A1DF;
  border-color: #00A1DF;
  color: #fff;
  margin: 0;
}
.btn.btn-remove{
  width: 38px;
  min-width: 38px;
  height: 38px;
  background: #FF815D;
  border-color: #FF815D;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
}
.inline{
  display: inline-block !important;
  width: 50%;
}
.wp-picker-container{
  vertical-align: middle;
  border:none;
}
.wp-color-result{
  margin: 0;
}
.wp-color-result {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: bottom;
  display: inline-block;
  padding-left: 38px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  top: 0;
  border: none;
}
.wp-color-result:after {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  content: attr(title);
  display: block;
  line-height: 36px;
  padding: 0 6px;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: auto;
  min-width: auto;
  height: 38px;
  background: #00A1DF;
  border-color: #00A1DF;
  color: #fff;
  margin: 0;
  font-size: 14px;
}

.wp-color-result:hover:after {
  color: #fff;
}

.wp-core-ui .button-group.button-small .button, .wp-core-ui .button.button-small {
  height: 38px;
  line-height: 26px;
  padding: 0 8px 1px;
  font-size: 13px;
  box-shadow: none;
  border: 0;
}
.wp-picker-container input[type=text].wp-color-picker {
  width: 68px;
  font-size: 13px;
  font-family: monospace;
  text-align: center;
  line-height: 26px;
  margin: 0;
  margin-left: 6px;
  height: 38px;
  border: 0;
  box-shadow: none;
}

.cz-message{
  margin: 10px;
}
.cz-message h4{
  margin: 10px;
}